<div class="row">

  <div class="col">

    <% if(user.image) { %>
        <img class="img-thumbnail" src="<%= user.imageSRC %>" alt="<%= user.username %>">
      <% } else { %>
        <img class="img-thumbnail" src="<%= user.image %>" alt="<%= user.username %>">
    <% } %>

  </div>

  <div class="col">

    <h1><%= user.username %></h1>
    <h4><%= user.email %></h4>

    <a class="btn btn-primary" href="/photos/new" role="button">Upload a photo</a>

    <form method="POST" action="/profile">
      <input type="hidden" name="_method" value="DELETE">
      <button type="button" class="btn btn-danger">Delete Account</button>
    </form>

  </div>

</div>

<div class="row">

  <% photos.forEach((photo) => { %>

    <div class="col-md-4">
      <div class="card">
      <div class ="card-img-top"  alt="<%= photo.caption %>" ></div>
        <div class="card-block">

          <a href="/photos/<%= photo.id %>">
            <h4 class="card-title"><%= photo.caption %></h4>
            <img class="img-fluid" src="<%= photo.imageSRC %>" alt="<%= photo.caption %>">
          </a>

          <p>
            <% while(photo.stars--) { %> &star; <% } %>
          </p>

          <% if(locals.isAuthenticated && photo.ownedBy(user)) { %>

            <a href="/photos/<%= photo.id %>/edit" class="btn btn-primary">Edit</a>

            <form method="POST" action="/photos/<%= photo.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-danger">Delete</button>
            </form>

          <% } %>

        </div>
      </div>
    </div>
  <% }) %>

</div>
