<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imgModalLabel"><%= photo.caption %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="<%= photo.imageSRC %>" alt="<%= photo.caption %>">
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-sm-6">

    <a data-toggle="modal" id="pop" data-target="#imgModal">
      <img class="img-thumbnail img-fluid" src="<%= photo.imageSRC %>" alt="<%= photo.caption %>">
      <h2><%= photo.caption %></h2>
    </a>

    <p>
      <% while(photo.stars--) { %> &star; <% } %>
    </p>

    <ul class="list-group">
      <li class="list-group-item active">Comments:</li>
      <% photo.comments.forEach((comment) => { %>
        <li class="list-group-item">
          <p><%= comment.content %></p>
          <small>by <%= comment.createdBy.username %></small>
        </li>

        <% if(locals.isAuthenticated && comment.ownedBy(user)) { %>
          <form method="POST" action="/photos/<%= photo.id %>/comments/<%= comment.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger">Delete this comment</button>
          </form>
        <% } %>

      <% }) %>
    </ul>

    <% if(locals.isAuthenticated) { %>

      <div id="leaveComment">

        <label for="comment">Leave a comment:</label>

        <form method="POST" action="/photos/<%= photo.id %>/comments">
          <textarea class="form-control" rows="2" name="content" id="content" placeholder="Comment"></textarea>
          <button class="btn btn-primary">Leave a comment</button>
        </form>

      </div>
    <% } %>

  </div>
</div>
