<div class="row">

  <div class="col-sm-6">

    <img src="<%= photo.image %>" alt="<%= photo.caption %>">
    <h2><%= photo.caption %></h2>

    <p>
      <% while(photo.stars--) { %> &star; <% } %>
    </p>

    <section>
      <h4>Comments</h4>
      <% photo.comments.forEach((comment) => { %>
        <p><%= comment.content %></p>
        <small><%= comment.createdBy.username %></small>

        <% if(locals.isAuthenticated && comment.ownedBy(user)) { %>
          <form method="POST" action="/photos/<%= photo.id %>/comments/<%= comment.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button>Delete</button>
          </form>
        <% } %>

      <% }) %>
    </section>

    <% if(locals.isAuthenticated) { %>
      <section>
        <h4>Leave a comment</h4>
        <form method="POST" action="/photos/<%= photo.id %>/comments">
          <textarea name="content" id="content" placeholder="Comment"></textarea>
          <button class="button">Leave a comment</button>
        </form>
      </section>
    <% } %>

  </div>
</div>
